:root {
  --main-color: #2f3478;
  --color_1: #232f34;
  --color_2: white;
  --color_3: #f9aa33;
  --color_4: rgba(81, 93, 96, 0.15); /* màu nền cho các dòng, trong bảng */
  --color_5: #a4a9b2;
  --background-color: #f5f5f5;
  --table_header: #e8e9f8;
}

/* * {
    box-sizing: border-box;
    font-family: Century Gothic; 
  } */
.logo {
  overflow: hidden;
  width: 60px;
}

body {
  font-family: "Roboto", sans-serif;
  /* background-color: rgb(241,242,246); */
  background-color: rgb(255, 255, 255);
}
.header {
  display: flex;
  text-align: center;
  font-size: 35px;
  flex-direction: row;
  justify-content: space-around;
}
.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color_2);
  flex: 1;
}
.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
  background-color: var(--color_2);
  justify-content: flex-end;
  flex: 1;
}

/* Container for flexboxes */

/* Create three equal columns that sits next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: white;
  text-align: center;
  overflow-x: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.header-text {
  display: flex;
  margin-left: 1px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.logo img {
  width: 30px;
  height: 30px;
  margin-top: 8px;
}
.header-text {
  flex: 1;
  margin-left: 14px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.update-time {
  margin-top: 15px;
  font-size: 14px;
  color: white;
  margin-right: 20px;
}

.reload {
  display: flex;
  z-index: 1500;
  position: fixed; /* Đặt vị trí cố định */
  top: 0; /* Bắt đầu từ đỉnh màn hình */
  left: 0; /* Bắt đầu từ bên trái màn hình */
  right: 0; /* Kéo dài đến bên phải màn hình */
  bottom: 0; /* Kéo dài đến dưới cùng màn hình */
  background-color: rgba(0, 0, 0, 0.1); /* Màu nền nửa trong suốt */
  align-items: center; /* Căn giữa nội dung theo chiều dọc */
  justify-content: center; /* Căn giữa nội dung theo chiều ngang */
}

.red-star {
  color: red;
  font-size: 20px;
}

/* CSS FOR BODY */

.all {
  display: flex;
  flex-direction: row;
  flex: 6;
}
/* LEFT COLUNM */
.left_col {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  background-color: var(--main-color);
  height: 100vh;
}
.button_text {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.user_login {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 30px;
}
.login_button_div {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 30px;
}
.time_class {
  display: flex;
  flex-direction: column;
  border: #004445 1px solid;
  background-color: #7099ad;
  color: white;
  width: 100%;
  height: 48px;
  text-align: center;
  align-items: center;
  font-size: 15px;
}
.time {
  margin-top: 5px;
  margin-bottom: 5px;
}

.user_text {
  display: flex;
  font-size: 15px;
  align-items: center;
  color: white;
  margin-right: 15px;
}
.all_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 5px;
  margin-top: 30px;
}

.right_col {
  display: flex;
  flex-direction: column;
  flex: 5.5;
  background-color: var(--background-color);
}

.home_class {
  display: none;
  flex-direction: column;
  width: 100%;
  margin-right: 30px;
}

.row_1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: var(--main-color);
  border-radius: 10px;
}

.close_button {
  background-color: var(--table_header);
  border: none;
}

.close_button_login {
  background-color: transparent;
  border: none;
}

.row_2 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 10px;
  /* margin-top: 20px; */
}

input {
  /* margin-top: 20px; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* -----SHIFT INPUT---------------------------------*/
.shift_input_class {
  display: flex;
  flex-direction: column;
}

.row_for_earch_data {
  display: flex;
  flex-direction: row;
}
.shift_input {
  display: -webkit-flex;
  display: flex;
  align-items: start;
  flex: 0.15;
  margin: 2px;
  font-weight: bold;
  color: var(--main-color);
}

.shift_input_up {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid;
  /* box-shadow: 20px 20px 50px black; */
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  border-radius: 0px 100px 100px 0px;
  color: black;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.shift_input_up_col {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  margin-right: 10px;
  /* margin: 3px; */
}
.shift_row_input {
  display: flex;
  align-items: center;
  margin: 3px;
  width: 100%;
}
.shift_input_up_left {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--main-color);
  margin: 10px;
  border-radius: 15px 15px;
  justify-content: center;
}
.shift_input_up_right {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--main-color);
  margin: 10px;
  border-radius: 15px 15px;
  justify-content: center;
}
.shift_input_text {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
  margin-right: 5px;
  font-weight: 700;
}

.shift_input_data {
  font-size: 15px;
  height: 35px;
  border-width: 2px;
  border-color: var(--main-color);
  width: 100%;
  color: rgb(46, 46, 46);
  border-radius: 35px;
  margin-bottom: 2px;
  text-align: center;
}

.shift_input_data:hover {
  cursor: pointer;
}

.shift_input_up_select {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--main-color);
  /* background-color:#007bff; */
}

.shift_input_month_year_text {
  display: flex;
  justify-content: center;
  color: var(--main-color);
  font-size: 25px;
  align-items: center;
  font-weight: bold;
  background-color: var(--table_header);
  border-radius: 15px 15px 0px 0px;
}

.shift_input_down_col {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 50px;
}

.shift_input_down {
  flex-direction: column;
  display: none;
  width: 100%;
  border: 2px solid;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: white;
  margin-top: 10px;
}

.day_of_month_text {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #7099ad;
  border-radius: 100%;
}

.shift_input_down_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.shift_input_up_button {
  display: flex;
  align-items: end;
  margin-top: 16px;
}
.shift_input_information {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 20px 20px 50px black;
  width: 50%;
  border-radius: 10px 10px;
}
.shift_input_information_all {
  position: fixed; /* Đặt vị trí cố định */
  top: 0; /* Bắt đầu từ đỉnh màn hình */
  left: 0; /* Bắt đầu từ bên trái màn hình */
  right: 0; /* Kéo dài đến bên phải màn hình */
  bottom: 0; /* Kéo dài đến dưới cùng màn hình */
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền nửa trong suốt */
  z-index: 500; /* Đặt z-index cao để nằm trên tất cả các phần tử khác */
  display: none; /* Sử dụng flexbox để căn giữa nội dung nếu cần */
  align-items: center; /* Căn giữa nội dung theo chiều dọc */
  justify-content: center; /* Căn giữa nội dung theo chiều ngang */
}

.shift_input_information_row_1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--main-color);
  margin-bottom: 20px;
  border-radius: 10px 10px 0px 0px;
}

.shift_input_information_row_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
}
.checkbox_class {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-right: 25px;
  margin-left: -5px;
}
.shift_input_information_row_3 {
  display: flex;
  justify-content: end;
  margin-top: 5px;
  margin-bottom: 10px;
}

.shift_input_infor_text {
  display: -webkit-flex;
  display: flex;
  align-items: start;
  flex: 0.15;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 40px;
  color: var(--color_5);
}

/*------ END SHIFT INPUT------------------------------------- */

/* BEGIN ISSUE INPUT */

.issue_input_class {
  display: none;
  flex-direction: column;
  margin-right: 200px;
  margin-left: 200px;
}

.issue_input {
  display: -webkit-flex;
  display: flex;
  align-items: start;
  flex: 0.15;
  margin: 2px;
  font-weight: bold;
  color: var(--main-color);
}
.row_input {
  display: flex;
  margin: 2px;
  flex: 0.8;
  align-items: start;
}

.row_issue_history_input {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.row_issue_history_input_text {
  display: flex;
  color: white;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin-bottom: 5px;
  font-weight: 500;
}

.issue_input_up {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: white;
}

.issue_input_down {
  display: flex;
  width: 100%;
  border: 2px solid;
  border-radius: 5px;
  box-shadow: 20px 20px 50px black;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: white;
  margin-top: 10px;
}

.issue_input_1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--table_header);
  margin-bottom: 20px;
}
.issue_input_2 {
  display: flex;
  padding: 1px;
  background-color: black;
  margin-top: 10px;
  justify-content: space-around;
  width: 80%;
}
.issue_input_3 {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  width: 100%;
}
.issue_input_3_left_col {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 100px;
}
.issue_input_data {
  font-size: 15px;
  border-width: 2px;
  border-color: var(--main-color);
  width: 100%;
  color: black;
  border-radius: 5px;
  margin-bottom: 2px;
  text-align: start;
}

.issue_input_3_right_col {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 50px;
  margin-right: 100px;
}

.issue_input_4 {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  align-items: end;
  justify-content: end;
}
/* END ISSUE INPUT */

.title_add {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  color: var(--main-color);
  margin-left: 50px;
}

.safety_stock_class {
  display: none;
}

/* CSS CHO THÔNG BÁO CỬA SỔ POPUP */
.warning_popup {
  display: none;
  flex-direction: column;
  background-color: green;
  width: 300px;
  border-radius: 4px;
  position: fixed; /* Sử dụng fixed thay vì absolute để thông báo luôn hiển thị trên màn hình */
  z-index: 1000; /* Đảm bảo z-index cao hơn các phần tử khác để nằm đè lên */
  top: 40%; /* Đặt vị trí top ở giữa màn hình */
  left: 50%; /* Đặt vị trí left ở giữa màn hình */
  transform: translate(-50%, -50%); /* Dịch chuyển điểm neo về giữa */
  opacity: 0.95;
  box-shadow: 10px 10px 10px black;
}
.warning_row_1 {
  margin-top: 10px;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
.warning_row_2 {
  text-align: center;
}

.warning_text_box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.warning_text {
  font-size: 17px;
  color: white;
}
.button_warning_class {
  display: flex;
  justify-content: end;
}

.warning_row_3 {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}
.warning_button_class {
  border: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px 10px;
}
/* CSS CHO THÔNG BÁO CỬA SỔ POPUP */

input[type="checkbox"] {
  width: 20px; /* Đặt chiều rộng */
  height: 20px; /* Đặt chiều cao */
}

.kpi_class {
  display: none;
}
.kpi_table_class {
  display: flex;
  width: 100%;
  max-height: 570px;
  overflow: auto;
}

.issue_history_class {
  display: none;
  flex-direction: column;
}
.button_check_issue_history {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 20px;
}
